<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/styles.css">
    <title>ROCKet</title>
    <link rel="stylesheet" href="style/static/styles.css">
</head>
<body>
  <header>
    <h1>ROCKet</h1>
    <a href="team.html">About us</a>
  </header>
    <h1>Upload file:</h1>
      <input id="fileInput" type="file" name="image" accept="image/*" required>
      <div class="button" id="button-2">
        <div id="slide"></div>
        <input id="uploadButton" type="submit" value="Отправить">
      </div>
  <div style="width: 500px; height: 500px; display: flex;" id="imagePreview"></div>
  <h3></h3>
</body>
<script src="static/js/script.js"></script>
</html>