<!DOCTYPE html>
<html lang="en-EN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>О нашей команде</title>
</head>
<body>
    <header>
        <h1>О нашей команде</h1>
    </header>
    <div class="team-member">
        <img src="member1.jpg" alt="Участник 1">
        <h2>Aruzhan</h2>
        <p>Описание участника 1.</p>
    </div>
    <div class="team-member">
        <img src="member2.jpg" alt="Участник 2">
        <h2>Имя участника 2</h2>
        <p>Описание участника 2.</p>
    </div>
    <div class="team-member">
        <img src="member2.jpg" alt="Участник 2">
        <h2>Имя участника 3</h2>
        <p>Описание участника 3.</p>
    </div>
    <div class="team-member">
        <img src="member2.jpg" alt="Участник 2">
        <h2>Имя участника 4</h2>
        <p>Описание участника 4.</p>
    </div>
    <div class="team-member">
        <img src="member2.jpg" alt="Участник 2">
        <h2>Имя участника 5</h2>
        <p>Описание участника 5.</p>
    </div>
    <div class="team-member">
        <img src="member2.jpg" alt="Участник 2">
        <h2>Имя участника 6</h2>
        <p>Описание участника 6.</p>
    </div>
  
    <!-- Добавьте других участников команды по аналогии -->
</body>
</html>


 

 